<%- include('../components/head.ejs') %>

    <!-- Main Content -->
    <div id="content">


        <div class="row-cols-1">
            <% if (alert.message != '') { %>
                <div class="alert alert-<%= alert.status %>" role="alert">
                    <%- alert.status == 'success' ? `<i class="fas fa-check-square mr-2"></i>`: `<i class="fas fa-exclamation-triangle"></i>` %> 
                    <%= alert.message %>
                </div>
            <% } %>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3 ch">
                <div class="row d-flex">
                    <div class="col">
                        <h6 class="m-0 font-weight-normal text-white">Produk</h6>
                    </div>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>



                    </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">



                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <button type="button" class="btn btn-sm btn-warning" data-toggle="modal"
                                    data-target="#createProduk">
                                    <i class="fas fa-plus-circle fa-sm text-white"></i> Create Data
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Nama Produk</th>
                                                <th>kategori</th>
                                                <th>Harga</th>
                                                <th>Gambar</th>
                                                <th>Desckripsi</th>
                                                <th>Action</th>


                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% for( let i=0; i < cake.length; i++ ) { %>
                                                <tr>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <%= cake[i].namaProduk %>
                                                    </td>
                                                    <td>
                                                        <%= cake[i].kategori %>
                                                    </td>
                                                    <td>
                                                        <%= cake[i].harga %>
                                                    </td>
                                                    <td>
                                                        <img src="/images/<%= cake[i].gambar %>" width="150vh" alt="">
                                                    </td>
                                                    <td>
                                                        <%= cake[i].desckripsi %>
                                                    </td>
                                                    <td>
                                                        <button type="button"
                                                            class="btn btn-sm btn-warning text-white btn-edit"
                                                            data-id="<%= cake[i]._id %>"
                                                            data-produk="<%= cake[i].namaProduk %>"
                                                            data-kategori="<%= cake[i].kategori %>"
                                                            data-harga="<%= cake[i].harga %>"
                                                            data-gambar="<%= cake[i].gambar %>"
                                                            data-desckripsi="<%= cake[i].desckripsi %>">
                                                            <i class="fa fa-edit"></i>
                                                            Edit
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-danger btn-delete"
                                                            data-id="<%= cake[i]._id %>">
                                                            <i class="fa fa-trash"></i>
                                                            Delete
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% } %>


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Modal Create -->
                    <div class="modal fade" id="createproduk" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-info text-white">
                                    <h5 class="modal-title">Create Data</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="produkFormCreate" action="/admin/tambah-produk" method="post"
                                    enctype="multipart/form-data">
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="namaProduk" class="font-weight-bold"> namaProduk </label>
                                            <input type="text" class="form-control namaProduk" name="namaProduk"
                                                id="namaProduk" placeholder="add namaProduk" autocomplete="off">
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="kategoriProduk" class="font-weight-bold"> kategori </label>
                                            <input type="text" class="form-control kategori" name="kategori"
                                                id="kategoriProduk" placeholder="add kategori" autocomplete="off">
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="hargaProduk" class="font-weight-bold"> harga </label>
                                            <input type="text" class="form-control harga" name="harga" id="hargaProduk"
                                                placeholder="add harga" autocomplete="off">
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="gambarProduk" class="font-weight-bold"> gambar </label>
                                            <input type="file" class="form-control gambar" name="gambar"
                                                id="gambarProduk" placeholder="add gambar" autocomplete="off">
                                            <div class="errorMessage text-danger"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="desckripsiProduk" class="font-weight-bold"> desckripsi </label>
                                            <input type="text" class="form-control desckripsi" name="desckripsi"
                                                id="desckripsiProduk" placeholder="add desckripsi" autocomplete="off">
                                            <div class="errorMessage text-danger"></div>
                                        </div>




                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-save"></i>
                                            Save
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Edit -->
                    <div class="modal fade" id="editProduk" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header ch text-white">
                                    <h5 class="modal-title">Edit Data</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="produkFormUpdate" enctype="multipart/form-data" action="/admin/ubah-produk?_method=put" method="post">
                                    <div class="modal-body">
                                        <input type="" class="form-control id-produk" name="id" readonly>
                                        <div class="form-group">
                                            <label for="namaProduk" class="font-weight-bold"> namaProduk </label>
                                            <input type="text" class="form-control nama nama-produk" name="namaProduk"
                                                id="namaProduk" placeholder="please add produk nama.."
                                                autocomplete="off">
                                            <div class="errorMessageUpdate text-danger"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="kategoriProduk" class="font-weight-bold"> Kategori </label>
                                            <input type="text" class="form-control kategori kategori-produk"
                                                name="kategoriProduk" id="kategoriProduk"
                                                placeholder="please add produk kategori.." autocomplete="off">
                                            <div class="errorMessageUpdate text-danger"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="hargaProduk" class="font-weight-bold"> harga </label>
                                            <input type="text" class="form-control harga harga-produk"
                                                name="hargaProduk" id="hargaProduk"
                                                placeholder="please add produk harga.." autocomplete="off">
                                            <div class="errorMessageUpdate text-danger"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="gambarUpdateProduk" class="font-weight-bold"> gambar </label>
                                            <input type="file" class="form-control gambar gambar-produk" name="gambar"
                                                id="gambarUpdateProduk" autocomplete="off">
                                            <div class="errorMessageUpdate text-danger"></div>
                                            <div class="errorFileUpdate text-danger"></div>
                                            <img src="" class="previewImg mt-2" id="previewImg" width="150vh"
                                                alt="preview">
                                        </div>
                                        <div class="form-group">
                                            <label for="desckripsiProduk" class="font-weight-bold"> desckripsi </label>
                                            <input type="text" class="form-control desckripsi desckripsi-produk"
                                                name="desckripsiProduk" id="desckripsiProduk"
                                                placeholder="please add produk desckripsi.." autocomplete="off">
                                            <div class="errorMessageUpdate text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-save"></i>
                                            Save
                                        </button>
                                    </div>
                                </form>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Delete -->
                    <div class="modal fade" id="deleteProduk" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-danger text-white">
                                    <h5 class="modal-title">Confirm Data</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post" class="delete-produk  ">
                                    <div class="modal-body">
                                        <h5> Are you sure for delete this data ?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-check-circle"></i>
                                            Yes
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <script>
                        // <!-- Modal Jquery Edit -->
                       
                            
                        
                        $('#dataTable').on('click', '.btn-edit', function() {
                            $('#editProduk').modal('show');
                            let id = $(this).data('id');
                            let nama = $(this).data('produk');
                            let kategori = $(this).data('kategori');
                            let harga = $(this).data('harga');
                            let desckripsi = $(this).data('desckripsi');
                            console.log(nama);
                            console.log(id);
                            console.log(kategori);
                            console.log(harga);
                            console.log(desckripsi);
                            
                            $('.id-produk').val(id);
                            $('.nama-produk').val(nama);
                            $('.kategori-produk').val(kategori);
                            $('.harga-produk').val(harga);
                            $('.desckripsi-produk').val(desckripsi);
                        });

                        // Modal Delete
                        $('#dataTable').on('click', '.btn-delete', function() {
                            $('#deleteProduk').modal('show');
                            let id = $(this).data('id');
                            console.log(id);
                            let url = `/admin/delete-produk/${id}?_method=delete`;
                            $('.delete-produk').attr('action', url);

                        });

                        $(document).ready(function () {
                            const timerAlert = $('.alert').text();
                            if (timerAlert !== '') {
                                setTimeout(function () {
                                    $('.alert').fadeOut('slow')
                                }, 3000);
                            }
                        });
                    </script>
                </div>
                <!-- End of Main Content -->
                <%- include('../components/bottom.ejs') %>